<footer class="footer">
  <div class="arrow">
    <a href="#header">
      <img src="./assets/images/ico-arrow.png" alt="ico-arrow" />
    </a>
  </div>
  <div class="footer__box">
  <nav class="box">
    <ul class="box__list">
      <li><a href="https://adalab.es/" target="_blank" class="box__item">ARTICLES</a></li>
      <li><a href="https://adalab.es/" target="_blank" class="box__item">BOOKS</a></li>
      <li><a href="https://adalab.es/" target="_blank" class="box__item">EVENTS</a></li>
      <li><a href="https://adalab.es/" target="_blank" class="box__item">REASONS</a></li>
      <li><a href="https://adalab.es/" target="_blank" class="box__item">TIPS</a></li>
    </ul>
  </nav>
  <nav class="box">
    <ul class="box__list">
      <li><a href="https://adalab.es/" target="_blank" class="box__item">TWITTER</a></li>
      <li><a href="https://adalab.es/" target="_blank" class="box__item">INSTAGRAM</a></li>
      <li><a href="https://adalab.es/" target="_blank" class="box__item">MASTODON.SOCIAL</a></li>
    </ul>
  </nav>
  <div class="footer__small box">
    <p><small>&copy; 2023 </small></p>
    <p>
      <small
        >we <i class="fa-solid fa-heart fa-flip heart"></i>components</small
      >
    </p>
  </div>
</div>
</footer>
