<button>Flecha arriba</button>
      <div>
        <nav>
          <ul>
            <li><a href="">Article</a></li>
            <li><a href="">Books</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Reasons</a></li>
            <li><a href="">Tips</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <nav>
          <ul>
            <li><a href="">Twitter</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Mastodon.Social</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <ul>
          <li>&copi 2023</li>
          <li>we (heart) components</li>
        </ul>
      </div>