<footer class="footer">
<div class="arrow">
  <a href="http://">
    <img src="./assets/images/ico-arrow.png" alt="ico-arrow"/>
  </a>
</div>
<div>
  <nav>
    <ul>
      <li><a href="">Article</a></li>
      <li><a href="">Books</a></li>
      <li><a href="">Events</a></li>
      <li><a href="">Reasons</a></li>
      <li><a href="">Tips</a></li>
    </ul>
  </nav>
</div>
<div>
  <nav>
    <ul>
      <li><a href="">Twitter</a></li>
      <li><a href="">Instagram</a></li>
      <li><a href="">Mastodon.Social</a></li>
    </ul>
  </nav>
</div>
<div>
  <ul>
    <li>&copy; 2023</li>
    <li>we <i class="fa-sharp fa-solid fa-heart fa-beat heart"></i>components</li>
  </ul>
</div>
</footer>
