<section class="section_blue">
    <h4 class="sectb_title">3 Reasons To Purchase</h4>
    <article class="sectb_article">
      <h5>Ut sed medtus</h5>
      <p>Lorem ipsum dolor sit amet, consectetur.</p>
    </article>
    <article class="sectb_article">
      <h5>Curabitur ac erat</h5>
      <p>Mauris mattis urna quis lorem molesties.</p>
    </article>
    <article class="sectb_article">
      <h5>Morbi dictum</h5>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <!--<button>More Reasons</button>-->
    <a class="button" href="">More Reasons</a>
  </section>