<section class="sectb" id="section__blue">
  <h2 class="sectb__title">3 Reasons To Purchase</h2>
  <div class="container">
    <div>
      <article class="container__article">
        <h3 class="container__title">Ut sed medtus</h3>
        <p class="container__text">Lorem ipsum dolor sit amet, consectetur.</p>
      </article>
    </div>
    <div>
      <article class="container__article">
        <h3 class="container__title">Curabitur ac erat</h3>
        <p class="container__text">Mauris mattis urna quis lorem molesties.</p>
      </article>
    </div>
    <div>
      <article class="container__article">
        <h3 class="container__title">Morbi dictum</h3>
        <p class="container__text">Aliquam in dolor et dolor tincidunt.</p>
      </article>
    </div>
  </div>
  <a class="button" href="">More Reasons</a>
</section>
