<section class="section_blue" id="section_blue">
    <h2 class="sectb_title">3 Reasons To Purchase</h2>
    <article class="sectb_article">
      <h3 class="sectb_minititle">Ut sed medtus</h3>
      <p class="sectb_text">Lorem ipsum dolor sit amet, consectetur.</p>
    </article>
    <article class="sectb_article">
      <h3>Curabitur ac erat</h3>
      <p class="sectb_text">Mauris mattis urna quis lorem molesties.</p>
    </article>
    <article class="sectb_article">
      <h3>Morbi dictum</h3>
      <p class="sectb_text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <a class="button" href="">More Reasons</a>
  </section>