.footer {
    background-color: $colorDarkBlue;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: #ffffff; 
    padding-bottom: 45px;
    gap:30px;
    font-size:16px;
    font-family: Roboto;
    
}
.arrow {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    margin:auto;
    transform:translateY(-50%)
}
.heart {
    color: #f26002;
}

.menu_item{
    list-style-type:none;
    text-decoration: none;
    color:#ffffff
}
    


