.footer {
    background-color: $colorDarkBlue;
    display: flex;
    flex-direction: column;
    color: $colorWhite; 
    padding-bottom: 45px;
    gap:30px;
    font-size:16px;
    font-family: $textFont;  
    text-align: center;  
    align-items: center;
    @media all and (min-width: 768px) {
        
    }
    
}
.arrow {
    background-color: $colorWhite;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display:flex;
    text-align: center;
    justify-content: space-around;
    align-items: flex-end;
    margin:auto;
    transform:translateY(-50%);
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
}
   
.box__list {
    list-style:none;
}

.box__item{
    text-decoration: none;
    color: $colorWhite;
}
.heart {
    color: $colorOrange;
}    


