.hero {
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  font-family: $titleFont;
  height: 100vh;
  &__article {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: $colorWhite;
    align-items: center;
    padding-top: 284px;
    @media all and (min-width: 768px){
      padding-top: 384px;
    }
    @media all and (min-width: 1280px){
      padding:384px 150px 0 150px;
  }
  }
  &__title {
    font-size: 4.2rem;
    font-weight: bold;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      font-size: 80px;
    }
    @media all and (min-width: 1280px) {
      font-size: 10rem;
    }
  }
  &__text {
    font-size: 1.6rem;
    font-family: $textFont;
    @media all and (min-width: 768px){
      font-size: 2.4rem;
    }
  }
}
.scroll {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $colorWhite;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.ico-scroll-down {
  width: 20px;
  height: 11.7px;
}

