.hero{
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: top;
    font-family: RobotoSlab; 
     
}
.hero_article{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    height: 100vh;
    justify-content: center;
    padding-top: 270px;
    color: white;
    align-items: center;
}

h1 {
    font-size: 42px;
}
.hero p{
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    
}
.ico-scroll-down{
    background-color: white;
    width: 20px;
    height: 10px;
    
    
    

    
}