.hero_article{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}
.hero_p {
    font-family: Roboto;
    font-size:18px;   
    padding-top: 15px;
    
}

.mini_title {
    font-size:14px;
    color: #8ccbea;
    padding-left: 15px;
    padding-top: 30px;
    font-family: Roboto;
}
h2{
    padding-top: 1px;
}

.go {
    color:#f26002;
    border-color: #f26002;
    border-radius: 70%;
    border: 1px;

}
    
    
