.sectw {
    /*height: 100vh;*/

}
.sectw_article{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}
.sectw_mini {
    font-size:14px;
    color: #8ccbea;
    padding-top: 30px;
    font-family: Roboto;
    padding-bottom: 5px;
}
.sectw_title {
    font-size:24px;
    
}

.sectw_p {
    font-family: Roboto;
    font-size:18px;   
    padding-top: 15px;
    
}




.btn-go {
    background-color: white;
    font-size: 20px;
    border-radius: 25px;
    padding: 10px 25px;
    text-align: left;
    text-decoration: none;
    font-family: Roboto;
    font-weight:500;
    border: 2px solid orange;
    color: orange;
    margin: 30px 200px 45px 15px;
} 

    
