.sectw {
  padding: 0 15px 0 15px;
  @media all and (min-width: 768px) {
    padding: 0 39px 0 39px;
  }
  @media all and (min-width: 1280px) {
    padding: 0 270px 0 270px;
  }
  &__article {
    display: flex;
    flex-direction: column;
  }
  &__mini {
    color: $colorLightBlue;
    padding-top: 30px;
    font-family: $textFont;
    padding-bottom: 5px;
    @media all and (min-width: 768px) {
      font-size: 1.4rem;
    }
    @media all and (min-width: 1280px) {
      font-size: 1.6rem;
    }
  }
  &__title {
    font-size: 2.4rem;
    @media all and (min-width: 768px) {
      font-size: 2.6rem;
      padding-bottom: 10px;
    }
    @media all and (min-width: 1280px) {
      font-size: 3.2rem;
    }
  }
  &__p {
    font-family: $textFont;
    font-size: 1.8rem;
    padding-top: 15px;
    color: $colorGrey;
    line-height: 1.67;
    @media all and (min-width: 768px) {
      font-size: 2rem;
      line-height: 1.5;
      padding-right: 10px;
    }
    @media all and (min-width: 1280px) {
      font-size: 2rem;
    }
  }
}

.btn__go {
  background-color: $colorWhite;
  font-size: 2rem;
  border-radius: 25px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-family: $textFont;
  font-weight: 500;
  border: 2px solid $colorOrange;
  color: $colorOrange;
  margin: 30px 200px 45px 15px;
  &:hover {
    background-color: $colorOrange;
    color: $colorWhite;
    transition-duration: 2s;
  }
  @media all and (min-width: 768px) {
    margin-right: 580px;
  }
  @media all and (min-width: 1280px) {
    margin-left: 5px;
  }
}
