.section_blue{
    background-color: $colorIceBlue;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    justify-items: center;
}
.container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    justify-items:center;
}

.sectb_title{
    font-family: $titleFont;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 45px;
}
.sectb_article{
    font-size:18px;
    font-weight: bold;
    padding-bottom: 45px;
    width: 180px;  
}
.sectb_minititle{
    font-weight: bold;
    font-size: 18px;
}
.sectb_text{
    font-family: $textFont;
    font-size: 18px;
    font-weight: normal;
}
.button{
    font-size: 18px;
    font-family: $textFont;
    font-weight: medium;
    background-color: $colorOrange;
    color: $colorWhite;
    text-decoration: none;
    padding: 5px 30px 5px 30px;
    border-radius: 23px;
}
